.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002f5f;
  padding: 1rem 2rem;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 0.8rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}